
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/* Kartların stilini ayarlamak için */
.card {
    width: 100%;
    max-width: 300px; /* Kart genişliği sabit tutulur */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover efektleri için */
}

.card:hover {
    transform: translateY(-10px); /* Hover ile kartı biraz yukarı kaydırma */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover ile daha belirgin gölge */
}

/* Görselin stili */
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.card-img-top:hover {
    opacity: 0.8; /* Görsel üzerinde hover efekti */
}

/* Kart içeriği */
.card-body {
    padding: 1rem;
    background-color: #fff;
}

/* Kart başlığı */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

/* Kart metni */
.card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}

/* Kart altındaki boşluk */
.mb-4 {
    margin-bottom: 1rem;
}

button {
    margin-top: 15px;
    background-color: #b70f13;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: none;
}